.title {
  font-size: 36px;
  margin-left: 60px;
}

.label {
  display: block;
  margin-left: 60px;
  /* border-bottom: 1px solid #000;
   */
   font-weight: 500;
  margin-bottom: 20px;
}

.filterText {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.input {
  display: block;
  width: 200px;
  height: 30px;
}

